<div class="w-100 text-center">
    <div class="w-100 text-center">
        <img class="w-50" src="http://burjcrown.com/img/contact.jpg">
    </div>
    <div class="w-100 p-2 fw-bold">
        <div class="text-left">
            15 Sheikh Mohammed bin Rashid Blvd - Downtown Dubai - Dubai - United
            Arab Emirates
        </div>
        <div class="d-flex text-left p-1">
            <div style="flex-basis: 20%;" class="text-muted">{{'home.ourEmail'|translate}}</div>
            <div>BurjCrown.Com@Gmail.com</div>
        </div>
        <div class="d-flex text-left p-1">
            <div style="flex-basis: 20%;" class="text-muted">{{'home.ourMobile'|translate}}</div>
            <div>09188108019</div>
        </div>
        <div class="d-flex text-left p-1">
            <div style="flex-basis: 20%;" class="text-muted">WhatsApp</div>
            <div>09188108019</div>
        </div>
        <div class="d-flex text-left p-1">
            <div style="flex-basis: 20%;" class="text-muted">Instagram</div>
            <div>burj.crown</div>
        </div>
        <div class="text-left p-3">
            WE ARE HERE TO HELP
            Send us an email and our staff will be in touch!
        </div>
    </div>
</div>